m-reveal {
  display: block; // Custom elements are inline by default
  opacity: 0;
  transition: all 0.8s ease-out;
  
  &.fly-in-left {
    transform: translateX(-50px);
  }
  
  &.fly-in-right {
    transform: translateX(50px);
  }
  
  &.fly-in-up {
    transform: translateY(50px);
  }

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}

.bounce {
  animation: bounce 2s infinite;
}

// Utility for staggered animations
@for $i from 1 through 5 {
  .delay-#{$i} {
    transition-delay: #{$i * 0.2}s;
  }
}
